* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1320px;
  margin: auto;
}

@font-face {
  font-family: "WorkSans Regular";
  src: url(../parallel/WorkSans-Regular.woff);
}
@font-face {
  font-family: "Sharp Grotesk Medium";
  src: url(../parallel/SharpGrotesk-Medium.woff);
}
body {
  font-family: "WorkSans Regular";
}

header nav {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
header nav .left-header ul,
header nav .right-header ul {
  list-style: none;
}
header nav .left-header ul li,
header nav .right-header ul li {
  vertical-align: middle;
  display: inline-block;
  padding: 5px;
}
header nav .left-header ul li a,
header nav .right-header ul li a {
  margin: 0 20px;
  text-decoration: none;
  color: black;
}

.button {
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #FFD560;
  text-decoration: none;
  color: black;
  width: -moz-fit-content;
  width: fit-content;
}

main {
  background-color: #FFF7F1;
  height: 100vh;
  width: 100vw;
}
main .main-body nav ul {
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 700px;
}
main .main-body nav ul li {
  margin: 32px 0;
  border: 1px solid #D2D2D2;
  padding: 5px 12px;
  border-radius: 16px;
}
main .main-body nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}
main .main-body nav ul li.selected {
  background-color: #FFD560;
  border-color: black;
}
main .main-body nav ul li:hover {
  background-color: #FFD560;
  border-color: black;
}
main .main-body .life-work {
  font-family: "Sharp Grotesk Medium";
  font-size: 24px;
  margin-bottom: 12px;
}
main .main-body .section-1 {
  position: relative;
  margin-top: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
main .main-body .section-1 .image1 {
  z-index: 1;
}
main .main-body .section-1 .middle-img {
  position: absolute;
  left: 50%;
  top: -30%;
  transform: translateX(-40%);
}
main .main-body .section-1 .text2 {
  font-family: "Sharp Grotesk Medium";
  padding-right: 80px;
  font-size: 30px;
  width: 400px;
  z-index: 1;
  word-spacing: 12px;
  line-height: 48px;
}
main .main-body .section-2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
main .main-body .section-2 .left-box {
  display: flex;
  align-items: center;
}
main .main-body .section-2 .left-box .box {
  font-family: "Sharp Grotesk Medium";
  font-size: 24px;
  display: flex;
  flex-direction: column;
  width: 400px;
}
main .main-body .section-2 .left-box .box input {
  width: 300px;
  height: 32px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 12px 20px;
}
main .main-body .section-2 .left-box .box input::-moz-placeholder {
  font-size: 16px;
  font-family: "WorkSans Regular";
  color: #979797;
}
main .main-body .section-2 .left-box .box input::placeholder {
  font-size: 16px;
  font-family: "WorkSans Regular";
  color: #979797;
}
main .main-body .section-2 .left-box .box .button {
  font-family: "WorkSans Regular";
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */